.button-signup {
	border-radius: 5px;
	background: #33a58c;
	background: linear-gradient(
		275deg,
		rgba(51, 165, 140, 0.59) 0%,
		rgba(51, 165, 140, 1) 50%
	);
	width: 176px;
	height: 35px;
	color: white;
	font-weight: 600;
	font-family: sans-serif;
	cursor: pointer;
}
.button-signup:hover {
	background: #33a58c;
	background: linear-gradient(
		275deg,
		rgba(51, 165, 140, 0.5) 0%,
		rgba(51, 165, 140, 0.9) 50%
	);
}

.tab:hover {
	cursor: pointer;
	text-decoration: underline;
}
